[submodule "ComputerGraphics/dpd/imgui"]
    path = ComputerGraphics/dpd/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "ComputerGraphics/dpd/glm"]
    path = ComputerGraphics/dpd/glm
    url = https://github.com/g-truc/glm.git
[submodule "ComputerGraphics/dpd/stb"]
    path = ComputerGraphics/dpd/stb
    url = https://github.com/nothings/stb.git